<h1>Welcome to the Preposition Verbs Practice Arena</h1>

<%= link_to "Verb List", preposition_verbs_path %>
<%= link_to "Add verb", new_preposition_verb_path %>

<h2>Play!</h2>
<h3><%= link_to "PLAY!", play_path %></h3>
<h3><%= link_to "Try translations", play_translation_path %></h3>
